@model Shamrock.Data.PagedCollection<Briar.Models.Page>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table>
    <thead>
    <tr>
        <th>
            Url
        </th>
        <th>
            Title
        </th>       
        <th>
            State
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            UpdatedOn
        </th>
        <th></th>
    </tr>
    </thead>
@foreach (var item in Model.Collection) {
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.StatusImage(item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.ActionLinkToEdit(item)
            <br/>
            @Html.ActionLinkToView(item)
            <br />
            @Html.ActionLinkToDelete(item)
        </td>
    </tr>
    </tbody>
}
</table>
<br />
@Html.ActionLinkToCreate()
